$WhiteColor: #FFFFFF;
$SidebarHeaderColor: #253141;
$SidebarBackgroundColor: #2f3e51;
$MainHeaderGroupnameColor: #333333;
$AquaBlue: #38AEF0;
$WhiteGrey: #FAFAFA;
$DarkGrey: #DDDDDD;
$DarkGreyText: #434A54;
$GreyText: #999999;
